body{
  background-color: rgba(23, 101, 219, 0.63);
}

header{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 40rem;
  margin-top: 2rem;

}

.MenuCentral{

  width: 17rem;
  height: 22rem;
  margin-left: 37rem;
  margin-top: 0rem;
  border-radius: 20px;
  background-color: white;
  text-align:start;
}

.numero{
  display: flex;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  
 & input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
 }

 & .button button{
  margin-left: 3rem;
  margin-top: 5rem;
  background-color: black;

 }
}

.valores{
  margin-top: 10px;
  margin-left:  1rem;


}

footer{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 40rem;
  margin-top: 2rem;
}

